#calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total, #desconto, #totalComDesconto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: 5px;
    border: solid black 1px;
}

#operacao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
}

input {
    text-align: center;
    width: 200px;
}

#botoes {
    text-align: center;
    width: 200px;
}

button {
    margin: 10px 3px 0px 0px;
    width: 80px;
}