body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

form {
	display: flex;
	flex-direction: column;
    justify-content: center;
    height: 400px;
	width: 300px;
	margin: 20px;
	padding: 20px;
	border: solid black 1px;
}

input {
	margin: 0 10px 0 10px;
}

input[type="button"] {
	width: 100px;
    margin-top: 10px;
}

label {
	margin: 10px 10px 0 10px;
}

img {
	width: 300px;
	border: solid black 1px;
}

.container {
    height: 400px;
	width: 300px;
    margin: 20px;
	padding: 20px;
    border: solid black 1px;
}