body {
	display: flex;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 400px;
	height: 600px;
	padding: 30px;
	margin: 10px;
	border: solid black 1px;
}
